<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="unit">
            <directory phpVersion="8.1.0" phpVersionOperator=">=">test/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory phpVersion="8.1.0" phpVersionOperator=">=">test/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
